.contact-img-icon:hover {
    cursor: pointer;
}

.bday-item-container {
    display: inline-flex;
}

.selected-styling {
    border-color: grey;
    border-width: thin;
    border-radius: 3%;
    border-style: solid;
}

.bday-item-container {
    white-space: nowrap; 
    width: 95%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    /* border: 1px solid #000000; */
}
